<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h3>Need help?</h3>
                <a href="tel://821099196919" id="phone">+82 10 9919 6999</a>
                <a href="mailto:help@bakecompany.net" id="email_footer">help@bakecompany.net</a>
            </div>
            <div class="col-md-6 col-sm-6">
                <h3>Settings</h3>
                <div class="styled-select">
                    <select class="form-control" name="lang" id="lang">
                        <option value="English" selected>English</option>
                        <option value="French">Chinese</option>

                    </select>
                </div>
            </div>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <p>© Bakecompany 2016</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer><!-- End footer -->
