{% load staticfiles %}
<style>
#hero{

background: url(/static/img/home_slider.jpg) center center no-repeat #4d536d;

}
</style>

<section id="hero">
<div class="intro_title">
    <h1 class="animated fadeInDown">Feel Real Korea <br/>with Local Friends</h1>
    <br />
    <p class="animated fadeInDown">Drink / Eat / Play</p>
<!--    <a href="#" class="animated fadeInUp button_intro">View Tours</a>-->
</div>
<!--
     <div id="search_bar_container">
        <div class="container">
        <form method='GET' action=''>

            <div class="search_bar">
                <span class="nav-facade-active" id="nav-search-in">
                <span id="nav-search-in-content" style="">All tours</span>
                <span class="nav-down-arrow nav-sprite"></span>
                <select title="Search in" class="searchSelect" id="searchDropdownBox" name="tours_category">
                    <option value="All Tours"  title="All Tours">All Tours</option>
                {%for category in categories%}
                    <option value="{{category}}" title="Museums">{{category}}</option>
                {% endfor %}
                </select>
                </span>
                <div class="nav-searchfield-outer">
                    <input type="text" autocomplete="off" name="q" placeholder="Type your search terms ...." id="twotabsearchtextbox" value ="{{ request.GET.q }}">
                </div>
                <div class="nav-submit-button">
                    <input type="submit" title="Cerca" class="nav-submit-input" value="Search">
                </div>
            </div>
        </form>
        </div>
        -->
    </div><!-- /search_bar-->
</section><!-- End hero -->