.price_list .normal_price_list {
    display: block;
    text-decoration: none;
    color: #e74c3c;
    font-size: 23px;
    margin-bottom: 5px;
}

.alert-flash {
    position: absolute;
    top: 10px;
    z-index: 50000;
    width: 100%;
    right: 0%;
    margin: 0px;
    display:none;
}

.img-wrap {
    position: absolute;
    right: 15px;
    top: 15px;
    display: block;
    float: right;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 0 3px white;
    background-color: #fff;
    border-radius: 50%;
}

/*List*/
ul.errorlist {
    list-style:none;
    margin: 10px 0 0 0;
    padding:0;
    line-height:22px;
}
ul.errorlist li {
    position:relative;
    padding-left:25px;
}
ul.errorlist li:before {
 font-style: normal;
  font-weight: bold;
  font-family: "icon_set_1";
  font-size:14px;
  content: "\6c";
  color:#e04f67;
  position:absolute;
  left:0;
  top:0px;
}
ul.list_order {
    list-style:none;
    margin: 0 0 30px 0;
    padding:0;
    line-height:30px;
    font-size:14px;
}
ul.list_order li {
    position:relative;
    padding-left:40px;

    margin-bottom:10px;
}
ul.list_order li span {
    background-color:#e04f67;
    color:#fff;
  position:absolute;
  left:0;
  top:0;
  text-align:center;
  font-size:18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
   border-radius: 50%;
  width:30px;
  height:30px;
  line-height:30px;
}

/** Pagination **/
.pagination > li > a,
.pagination > li > span {
  color: #888;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color:#333 !important;
  background-color: #f9f9f9;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #555;
  border-color: #555;
}


.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    background: none;
    color: #999 !important;
    font-weight: normal !important;
    cursor: default;
}
.datepicker table tr td.day {
    color: #3a93d0;
    font-weight: bold;
    border: 1px solid #e6e6e6;
}
